
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5dc; 
    color: #4b3832; 
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #4b3832; 
    text-align: center;
    font-family: 'Georgia', serif;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    width: 100%;
    max-width: 900px;
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid #d2b48c; 
    border-radius: 10px;
    background-color: #fffaf0; 
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #d2b48c; 
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    background-color: #d2b48c; 
    color: #4b3832; 
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #c4a484;
}

button:active {
    background-color: #a67b5b; 
}

button:disabled {
    background-color: #e0d6c3; 
    color: #9c9c9c;
    cursor: not-allowed;
}
